/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fff;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.player {
  background-color: #e32236;
  display: block;
  margin: 0px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.player>h4 {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.player>p {
  color: #aaa;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.player>p span {
  font-weight: 400;
  width: fit-content;
}

.details>.details_img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.details .details_img img {
  display: block;
  margin: 25px auto;
  object-fit: contain;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6 -6 12px rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.details>.details_img:after {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: -25px;
  right: -25px;
  border-radius: 50%;
  border: 3px dashed rgba(234, 253, 45, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.details .details_title {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.details .details_artist {
  color: #aaa;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.control .control__PlayButton {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  background-color: #ffce00;
  color: aliceblue;
  font-size: 24px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.control .control__SkipBtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

audio {
  opacity: 0.4;
  outline-width: 0;
  margin-bottom: 5px;
  margin-top: -28px;
}

audio::-webkit-media-controls-play-button {
  display: none;
}